################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EcommerceMicroservice/.vs/EcommerceMicroservice/v17
/.vs
